<span>
	<h2>Descripción</h2>
	<p>El clásico juego del tetris. Encaja las piezas y completa filas para vaciar el contenedor.
    </p>
    <img src="/static/public/games/{{game.directory}}/favicon.ico">
    <h2>Controles</h2>
    <p>
        <ul>
            <li>Flecha izquierda: mover a la izquierda</li>
            <li>Flecha derecha: mover a la derecha</li>
            <li>Flecha arriba: rotar</li>
            <li>Flecha abajo: acelerar caida</li>
            <li>Barra espaciadora: completar caida</li>
        </ul>
    </p>
</span>