<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Access-Control-Allow-Origin" content="*">
    <link rel="stylesheet" href="/static/public/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/public/css/styles.css">
    <script src="/static/public/js/auth.js"></script>
    <script src="/static/public/js/jquery-3.6.0.min.js"></script>
    <title>Inicio - CLV Game Hub</title>
</head>
<body class='text-bg-dark'>

    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg text-bg-primary">
      <div class="container-fluid">
        <a class="navbar-brand" href="/">CLV Game Hub</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <a class="nav-link active" aria-current="page" href="/">Inicio</a>
            <a class="nav-link" href="/jugar">Juegos</a>
            <a class="nav-link" href="/quienes-somos">Quienes somos</a>
            <a class="nav-link" href="/acerca-del-portal">Acerca del portal</a>
            <div class='float-end'>
                <a class="nav-link" href="/login">Acceder</a>
            </div>
        </div>
    </div>
</div>
</nav>
<!-- Navbar -->
<!-- Main container -->
<div class='container'>
    <!-- Row 1 -->
    <div class='row my-5'>
        <div class='col my-3'>
            <a href="jugar/" class="btn btn-lg btn-primary float-end">¡Quiero jugar!</a>
            <h1>Iniciar sesion</h1>
            <span>
                <p>

                    <form id='form-signup'>
                        <button class='btn btn-lg btn-success'>
                            Registro pocho
                        </button>
                    </form>
                </p>
            </span>
        </div>
    </div>
    <!-- Row 1 -->
</div>
<!-- Main container -->

</body>
</html>