{% extends './base.html' %}
{% block title %}Inicio - CLV GameHub{% endblock %}
{% block styles %}
<link rel="stylesheet" href="/static/public/css/bootstrap.min.css">
{% endblock %}
<!-- Main container -->
{% block content %}

<div class='row my-5'>
    <div class='col my-3'>
        <h1>Acerca del portal</h1>
        <span>
            <p>
                CLV C.E.S. Lope de Vega Game Hub es un pequeño proyecto de portal de videojuegos alojado en un
                servidor para que puedas disfrutarlos desde cualquier parte.
            </p>
        </span>
    </div>
</div>

{% endblock %}