{% extends './base.html' %}
{% block title %}Quienes somos - CLV GameHub{% endblock %}
{% block styles %}
<link rel="stylesheet" href="/static/public/css/bootstrap.min.css">
{% endblock %}

{% block content %}

<div class='row my-5'>
    <div class='col my-3'>
        <h1>Quienes somos</h1>
        <span>
            <p>
                Somos 3 alumnos del curso de Desarrollo de Aplicaciones Multiplataforma del instituto C.E.S. Lope de Vega.
            </p>
            <ul>
                <li>Ignacio Javier Sánchez Martinez (CEO)</li>
                <li>David Bravo Fernández</li>
                <li>Francisco Adrián Luque Mantero</li>
            </ul>
        </span>
    </div>
</div>

{% endblock %}