<!DOCTYPE html>
<html lang="es-ES">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Access-Control-Allow-Origin" content="*">
    <link rel="stylesheet" href="/static/public/css/bootstrap.min.css">
    {% block head %}
    {% endblock %}

    {% block styles %}
    {% endblock %}
    <title>{% block title %}{% endblock %}</title>
</head>
<body>

<!-- {% include './header.html' %} -->

<div class='container-fluid'>
    {% block content %}
    {% endblock %}
</div>


{% include './footer.html' %}
<script src="/static/public/js/jquery-3.6.0.min.js"></script>
<script src="/static/public/js/bootstrap.bundle.min.js"></script>
<script src="/static/public/js/essentials.js"></script>
<script src="/static/public/js/api.js"></script>
{% block scripts %}

{% endblock %}	
</body>


