{% extends './base.html' %}
{% block title %}Escritorio - CLV GameHub{% endblock %}
{% block styles %}
<link rel="stylesheet" href="/static/public/css/bootstrap.min.css">
<link rel="stylesheet" href="/static/public/css/desktop.css">
{% endblock %}
<!-- Main container -->
{% block content %}

<div id="desktop" class="row row-cols-3 my-5 justify-content-center">
    {% for game in games %}
    <div class="col text-center shadow">
        <div class="game rounded-5">
            <a href="/jugar/{{game.directory}}">
                <img class="img-fluid" src="/static/public/games/{{game.directory}}/favicon.ico" alt="">
            </a>
            <div class="my-3">
                <h1 class="px-5 py-2 d-inline-block rounded-pill title" data-bs-toggle="modal" data-bs-target="#modal-{{game.directory}}">{{game.name}}</h1>
            </div>
        </div>
    </div>
    
    <div id="modal-{{game.directory}}" class="modal" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <img class="icon me-3 rounded" src="/static/public/games/{{game.directory}}/favicon.ico">
                <h5 class="modal-title"><img src="/static/public/img/icons/info-circle.svg" alt="info icon" width="32" height="32">
Información de {{game.name}}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
            </div>
            <div class="modal-body">
                {% include './games/infos/'+game.directory+'.html' %}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>
{% endfor %}
</div>

{% endblock %}


</body>
</html>