{% extends './base.html' %}
{% block title %}Prohibido - CLV GameHub{% endblock %}
{% block styles %}
<link rel="stylesheet" href="/static/public/css/bootstrap.min.css">
{% endblock %}
<!-- Main container -->
{% block content %}

<div class='row my-5'>
    <div class='col my-3'>
        <h1>Quieto parao'</h1>
        <span>
            <img src="/static/public/img/dwayne-johnson.gif" class="border m-5"><br>
            <p class='m-5'>Pase usted por aquí para acceder al menú:</p>
            <a href="/" class='btn btn-primary btn-lg'>Inicio</a>    
        </span>
    </div>
</div>

{% endblock %}