<nav class="navbar navbar-expand-lg text-bg-primary">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">CLV Game Hub</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link active" aria-current="page" href="/">Inicio</a>
        <a class="nav-link" href="/escritorio">Juegos</a>
        <a class="nav-link" href="/quienes-somos">Quienes somos</a>
        <a class="nav-link" href="/acerca-del-proyecto">Acerca del proyecto</a>
        <div class='float-end'>
          <a class="nav-link" href="/acceso">Acceder</a>
        </div>
      </div>
    </div>
  </div>
</nav>