{% extends './base.html' %}
{% block title %}Registrarse - CLV GameHub{% endblock %}
{% block styles %}
<link rel="stylesheet" href="/static/public/css/bootstrap.min.css">
{% endblock %}
<!-- Main container -->
{% block content %}
<div class='row g-0 justify-content-center'>
    <div class="col-lg-3 p-5">
        <h1 class="text-center">Registrarse</h1>
        <div>
            <form id="form-register" action="#" method="POST">
                <div class="form-floating my-5">
                    <input id="nickname" name="nickname" type="nickname" class="form-control">
                    <label for="nickname"><span class="text-danger">*</span>Pseudónimo</label>
                    <p id="nickname-error" class="text-danger"></p>
                </div> 
                <div class="form-floating my-5">
                    <input id="password" name="password" type="password" class="form-control">
                    <label for="password"><span class="text-danger">*</span>Contraseña</label>
                    <p id="password-error" class="text-danger"></p>
                </div>
                <div class="form-floating my-5">
                    <input id="password-2" name="password-2" type="password" class="form-control">
                    <label for="password-2"><span class="text-danger">*</span>Repita contraseña</label>
                    <p id="password-2-error" class="text-danger"></p>
                </div>
                <div class="text-center">
                    <div>
                        <p>Todos los campos marcados con (<span class="text-danger">*</span>) son obligatorios.</p>
                    </div>
                </div>
                <div class="my-5 text-center">
                    <button id="submit" type="button" class='btn btn-success btn-lg'>Registrarse</button>
                </div>
                <div>
                    <div class="text-center">
                        <p>¿Ya tiene una cuenta? Haga click <a href="/acceso/">aquí</a> para acceder.</p>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script src="/static/public/js/md5.js"></script>
<script src="/static/public/js/forms.js"></script>
<script src="/static/public/js/register.js"></script>
{% endblock %}