body {
  background-image: url("http://80.30.41.125:8080/static/public/img/background.jpeg");
  background-color: rgba(0, 0, 0, 0.65);
  background-size: cover;
  background-position: center center;
}

.game {
	backdrop-filter: blur(5px);
}

.game a {
	text-decoration: none;
}

.title {
	background-color: #3C86AC;
	color: #FFFFFF;
	font-weight: bold;
}

.title:hover {
	cursor: pointer;
	background-color: #245D7B;
	color: #CCCCCC;
}

.icon {
    width: 44px;
    height: 44px;
}