#folder-icons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.folder-icon {
    position: relative;
}

.folder-icon img {			
    margin: 10px;
    width: 100px;
    height: 100px;
}

div.game-element {
    background-color: black !important;
}

img.game-icon {
    width: 96px !important;
    height: 96px !important;
    border: 1px solid lightgray;
}

h1.game-title {
    padding: 1.5px;
    background-color: gray;
    color: white;
    font-weight: bold;
    font-size: 12pt;
    text-transform: uppercase;
}

.folder-icon h2 {
    position: absolute;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    text-align: center;
    left: 50%;
      transform: translateX(-50%);
}

.imagenDwayne {
    width: 200px;
    height: 200px;
}